.config/Code - Insiders
.config/aseprite
.config/GIMP
.config/JetBrains
.config/gconf
.config/gtk-*
.config/libreoffice
.config/pulse
.config/pcmanfm
.config/nitrogen
.config/spotify
.config/StardewValley
.config/unity3d

